---
import data from '../../estudiantes.json';
const alumno = data.nombre


export interface Estudiante {
	id: number;
	nombre: string;
	edad: number;
	direccion: string;
	telefono: number;
	curso: string;
 }
 const estudiante = data as Estudiante
 const array_estudiantes: Estudiante[] = [
   estudiante,
   estudiante,
   estudiante,
   estudiante
]
 console.log(alumno);

for(let informacion in array_estudiantes)
 console.log(array_estudiantes[informacion]);

---

<body class="font-bold text-white">

	<table>
		<tr>Estudiantes</tr>
		
			<tr>
				<td>{estudiante.id}</td></a>
				<td>{estudiante.nombre}</td>
			</tr>
		

		<tr>
			<td>{estudiante.id}</td>
			<td>{estudiante.nombre}</td>
		</tr>
		<tr>
			<td>{estudiante.id}</td>
			<td>{estudiante.nombre}</td>
		</tr>
	</table>
</body>

<script>
	const search = Astro.url.searchParams.get('info.astro') || '';
</script>

